* {
  box-sizing: border-box;
}
div{
    float: left;
    padding: 10px;
    height: 70%;
}
.b1{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(74, 125, 175);

}
.b2{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 188, 118);
}
a{
    display: block;
    padding: 10px;
    margin: -13px;
    text-decoration: none;
    color: blanchedalmond;
}

a:hover{
    background-color: rgba(0, 255, 255, 0.479);
}

table,td ,th{
            border-collapse:collapse;
            border: 1px, solid, black
        }

